#header {
    background: #009CA3 0% 0% no-repeat;
    height: 100px;
    width: 100%;
}


body {
    font-family:  'Montserrat', sans-serif ;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#searchBar input {
    top:155px;
    left: 221px;
    width: 840px;
    height:40px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
}

#tabela {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-collapse: separate;
    font-size: 0.9em;
    text-align: center;
    min-width: 400px;
    border-spacing: 25px;
}

#tabela th {
    border: 1px solid black;
    
}

#tabela tr {
    padding: 100px;
    margin-top: 20%;
    box-shadow: 0px 4px 4px #00000029 ;
}

#tabela tr td img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.hide {
    display:none;
}